body{
    text-align: center;
    background-color: black;
}

h1{
    
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px white;
    -webkit-text-stroke: 1px black;
}

.alarm{
    line-height: 3;
    border-radius: 5%;
    background-color: rgb(0, 102, 255);
    height: 200px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 20px 5px rgb(0, 174, 255);


}

.aviso{
    line-height: 0;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px white;
    -webkit-text-stroke: 1px black;


}




.jogador{
    
    color: yellow;


}